.vs/testApp/DesignTimeBuild/.dtbcache
.vs/testApp/v15/Server/sqlite3/storage.ide-shm
.vs/testApp/v15/Server/sqlite3/storage.ide-wal
.vs/testApp/v16/.suo
.vs/testApp/v16/Server/sqlite3/db.lock
.vs/testApp/v16/Server/sqlite3/storage.ide
.vs/testApp/v15/.suo
